# Compute Total Population from Exposure

In [3]:
import pandas as pd
from impact_calc import load_worldpop, YEAR_RANGE_DEFAULT
from climada.util.coordinates import country_to_iso


def total_population(exposure):
    return exposure.gdf["value"].sum()


countries = ("ethiopia", "somalia", "sudan")

df_pop = pd.concat(
    [
        pd.Series(
            [
                total_population(load_worldpop(country, year))
                for year in YEAR_RANGE_DEFAULT
            ],
            index=YEAR_RANGE_DEFAULT,
            name=country_to_iso(country),
        )
        for country in countries
    ],
    axis=1,
)
df_pop = df_pop.astype("int")
df_pop.index.rename("Year", inplace=True)
df_pop.columns.rename("Country", inplace=True)
df_pop

Country        ETH       SOM       SDN
Year
2008      82916256  11397188  33060848
2009      85233944  11717689  33783784
2010      87640008  12043883  34545020
2011      90139912  12376306  35349688
2012      92726976  12715489  36193756
2013      95385816  13063711  37072564
2014      98094272  13423568  37977652
2015     100835456  13797203  38902964
2016     103603464  14185637  39847432
2017     106399920  14589168  40813396
2018     109224472  15008227  41801516
2019     112078752  15442907  42813248
2020     114963584  15893217  43849280
2021     114963584  15893217  43849280
2022     114963584  15893217  43849280

In [4]:
df_pop.to_csv("total_population.csv")